<div class="container">
  <div class="row">
    <div class="center-side col-md-12">
      <ul class='breadcrumb'><li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'><span itemprop='title'><%= link_to t("home"), root_path %></span></li><li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'><span itemprop='title'><%= link_to t("categories"), categories_path %></span></li><li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'><span itemprop='title'><%= link_to @manga.name, @manga %></span></li></ul>
      <article id="item-detail">
        <h1 class="title-detail"><%= @manga.name %></h1>
        <time class="small">
        <%= t(".last_updated") %> : <%= l(@manga.updated_at, format: :dmy) %>
        </time>
        <div class="detail-info">
          <div class="row">
            <div class="col-xs-4 col-image">
            </div>
            <div class="col-xs-8 col-info">
              <ul class="list-info">
                <li class="author row">
                  <p class="name col-xs-4">
                    <i class="fa fa-user">
                    </i> <%= t(".author") %>
                  </p>
                  <% if @manga.authors.nil? %>
                    <p class="col-xs-8"><%= t(".updating") %></p>
                  <% else %>
                    <p class="col-xs-8"><%= render partial: "author", collection: @authors %></p>
                  <% end %>
                </li>
                <li class="status row">
                  <p class="name col-xs-4">
                    <i class="fa fa-rss">
                    </i> <%= t(".status") %>
                  </p>
                  <p class="col-xs-8"><%= @manga.status %></p>
                </li>
                <li class="kind row">
                  <p class="name col-xs-4">
                    <i class="fa fa-tags">
                    </i> <%= t(".category") %>
                  </p>
                  <p class="col-xs-8"><%= render partial: "shared/category", collection: @categories %></p>
                </li>
                <li class="row">
                  <p class="name col-xs-4">
                    <i class="fa fa-eye">
                    </i> <%= t(".view") %>
                  </p>
                  <p class="col-xs-8"><%= @manga.number_of_read %></p>
                </li>
              </ul>
              <div class="row rating">
                <div class="col-sm-6">
                  <div class="small-2 large-2 columns">
                    <%= rating_for @manga, "rate_manga", disable_after_rate: true, readonly: true %>
                  </div><br>
                  <div class="small-2 large-4 columns">
                    <% if current_user %>
                      <%= t(".vote_now") %>: <%= rating_for @manga, "rate_manga", disable_after_rate: false, half_show: true, enable_half: true, cancel: false  %>
                    <% end %><br>
                  </div>
                </div>
                <div class="col-sm-6">
                </div>
              </div>
              <div class="mrt10" itemscope="" itemtype="http://schema.org/AggregateRating">
                <span itemprop="name"><%= @manga.name %> | </span>
                <%= t(".rate") %>: <span itemprop="ratingValue"><%= number_with_precision(@manga.avg_rating_dimension_rate_manga(@manga), precision: 1) %></span><meta itemprop="bestRating" content="5"><meta itemprop="worstRating" content="1">
              </div>
              <div class="follow">
                <% if user_signed_in? %>
                <div id="follow_form">
                  <% if current_user.following?(@manga) %>
                    <%= render 'unfollow' %>
                  <% else %>
                    <%= render 'follow' %>
                  <% end %>
                </div>
                <% end %>
              </div>
                <% if @chapters.present? %>
                  <div class="read-action mrt10">
                    <%= link_to t(".first_chapter"), chapter_path(@chapters.first), class: "btn btn-warning mrb5" %>
                    <%= link_to t(".last_chapter"), chapter_path(@chapters.last), class: "btn btn-warning mrb5" %>
                  </div>
                <% end %>
            </div>
          </div>
        </div>
        <div class="detail-content">
          <h3 class="list-title">
          <i class="fa fa-file-text-o">
          </i> <%= t(".detail") %>
          </h3>
          <p>  <%= @manga.detail %>
          </p>
        </div>
        <div class="list-chapter" id="nt_listchapter">
          <h2 class="list-title">
          <i class="fa fa-list">
          </i> <%= t(".list_chapters") %>
          </h2>
          <nav>
            <ul>
              <li class="row heading">
                <div class="col-xs-5 no-wrap"><%= t(".num_chapters") %></div>
                <div class="col-xs-4 no-wrap text-center"><%= t(".last_updated") %></div>
              </li>
              <%= render partial: "chapter", collection: @chapters %>
            </ul>
          </nav>
        </div>
      </article>
    </div>
  </div>
  <div class="comment">
    <%= render "shared/vote_manga" %>
  </div>
  <div class="row">
    <%= render "comments/comment_form", manga: @manga, parent_id: nil %>
    <%= comments_tree_for @supports.comments_tree.hash_tree(limit_depth: Settings.mangas.show.pages),
      @manga, @supports.comments_tree %>
  </div>
</div>
