<li>
  <div class="agile_tv_series_grid">
    <div class="col-md-6 agile_tv_series_grid_left">
      <div class="w3ls_market_video_grid1">
        <%= image_tag("manga.thumbnail", alt: " ",class: "img-responsive" ) if manga.thumbnail.present? %>
        <a class="w3_play_icon" href="#small-dialog">
          <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <div class="col-md-6 agile_tv_series_grid_right">
      <p class="fexi_header"><%= manga.name %></p>
      <p class="fexi_header_para"><span class="conjuring_w3"><%= t("detail") %><label>:</label></span> <%= manga.detail %></p>
      <p class="fexi_header_para"><span><%= t("release_time") %><label>:</label></span> <%= l(manga.created_at, format: :dmy) %> </p>
      <p class="fexi_header_para">
        <span><%= t("category") %><label>:</label> </span>
        <% manga.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </p>
      <p class="fexi_header_para fexi_header_para1"><span>Star Rating<label>:</label></span>
        <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
      </p>
    </div>
    <div class="clearfix"> </div>
    <div class="agileinfo_flexislider_grids">
      <%= render partial: "manga_info", collection: @mangas, as: :manga %>
    </div>
  </div>
</li>
