<div class="form-comment<%= @manga.id %>">
  <div class="row">
    <div class="col-md-1">
      <%= image_tag "avatar.jpg", class: "image-user" %>
    </div>
    <div class="col-md-11">
      <%= link_to comment.user.name, user_path(comment.user_id) %>:
      <span class"timestamp">
        <%= comment.created_at %>
      </span></br>
      <p><%= comment.content %></p>
      <%= link_to t("mangas.show.delete"), manga_comment_path(@manga, comment), method: :delete,
        data: {confirm: t("mangas.show.sure")} %>
    </div>    
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1">
    <%= render "comments/comment_form", manga: manga, parent_id: comment.id, comment_new: Comment.new %>
  </div>
</div>
