<% if user_signed_in? %>
  <span class="form-comment">
    <%= form_for [@manga, @comment], html: {id: "new_comment_#{parent_id}"} do |f| %>
      <%= f.hidden_field :parent_id, value: parent_id, id: "parent_#{parent_id}" %>
      <%= f.hidden_field :manga_id, value: @manga.id, id: "manga_#{parent_id}" %>
      <%= f.hidden_field :user_id, value: current_user.id, id: "user_#{parent_id}" %>
      <%= f.text_area :content, placeholder: t("mangas.show.compose"),
        required: true, class: "form-control add-comment", id: "content_#{parent_id}" %>
      <%= f.submit t("mangas.show.comment"), class: "btn btn-xs btn-custom2" %>
    <% end %>
  </span>
<% end %>
