<div class="container">
  <div class="reading">
    <div class="container">
      <div class="top">
        <ul class='breadcrumb'>
          <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'>
            <span itemprop='title'>
              <%= link_to t("home"), root_path %>
            </span>
          </li>
          <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'>
            <span itemprop='title'>
              <%= link_to t("categories"), categories_path %>
            </span>
          </li>
          <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'>
            <span itemprop='title'>
              <%= link_to @chapter.manga.name, manga_path(@chapter.manga) %>
            </span>
          </li>
          <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'>
            <span itemprop='title'>
              <%= link_to @chapter.name, @chapter %>
            </span>
          </li>
        </ul>
        <h1 class='txt-primary'><%= link_to @chapter.manga.name, manga_path(@chapter.manga) %> <span>- <%= @chapter.name %></span></h1><i><%= t(".updated_at") %> : <%= @chapter.updated_at.strftime("%d-%m-%Y") %></i>
      </div>
      <div class="reading-control">
        <span class='chapter-id hidden' data-id='401282'></span>
        <div class="mrb10">
          <%=  %>
        </div>
        <div class="alert alert-info mrb10 hidden-xs hidden-sm">
          <i class="fa fa-info-circle"></i> <em><%= t(".info") %></em>
        </div>
        <div class="chapter-nav">
          <%= link_to "", root_path, class: "fa fa-home" %>
          <%= link_to "", @previous, class: "fa fa-arrow-left" %>
          <select class="select-chapter", onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value">
            <option><%= t(".select_title") %></option>
            <% @chapters.each do |chapter| %>
              <option value="<%= chapter_path(chapter) %>"><%= chapter.name %></option>
            <% end %>
          </select>
          <%= link_to "", @next, class: "fa fa-arrow-right" %>
        </div>
      </div>
    </div>
    <div class="reading-detail box_doc">
      <% if @chapter.images.present? %>
        <div id='page_4' class='page-chapter'><img src=""></div>
      <% else %>
        <div id='page_4' class='page-chapter'><%= @chapter.content %></div>
      <% end %>
    </div>
  </div>
  <div class="comment">
    <%= render "shared/vote_form_chapter", chapter: @chapter %>
  </div>
</div>
