<div class="footer">
  <div class="container">
    <div class="w3ls_footer_grid">
      <div class="col-md-6 w3ls_footer_grid_left">
        <div class="w3ls_footer_grid_left1">
          <h2>Subscribe to us</h2>
          <div class="w3ls_footer_grid_left1_pos">
            <form action="#" method="post">
              <input type="email" name="email" placeholder="Your email..." required="">
              <input type="submit" value="Send">
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 w3ls_footer_grid_right">
        <a href="<%= root_path %>"><h2>Mag<span>Anime</span></h2></a>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="col-md-4 w3ls_footer_grid1_left">
      <p>&copy; <%= t('copyright') %></a></p>
    </div>
    <div class="col-md-6 w3ls_footer_grid1_right">
      <ul>
        <li>
          <a href="genres.html">Movies</a>
        <li></li>
          <a href="faq.html">FAQ</a>
        </li>
        <li>
          <a href="horror.html">Action</a>
        </li>
        <li>
          <a href="genres.html">Adventure</a>
        </li>
        <li>
          <a href="comedy.html">Comedy</a>
        </li>
        <li>
          <a href="icons.html">Icons</a>
        </li>
        <li>
          <a href="contact.html">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>