<!-- header -->
<div class="header">
  <div class="container">
    <div class="w3layouts_logo">
      <a href="<%= root_path %>"><h1>Mag<span>Anime</span></h1></a>
    </div>
    <div class="w3_search">
      <%= form_tag mangas_path, method: :get,
        class: "navbar-form search-form" do %>
        <div class="form-group dropdown">
          <%= text_field_tag :search, params[:search],
            class: "form-control dropdown-toggle",
            placeholder: t(".search"),
            "data-toggle": "dropdown", "aria-hidden": :true,
            autocomplete: :off, required: true %>
        </div>
        <%= button_tag type: :submit, class: "btn btn-default" do %>
          <i class="fa fa-search"></i>
        <% end %>
      <% end %>
    </div>
    <div class="w3l_sign_in_register">
      <ul>
        <li class="dropdown language-selector">
          Language:
          <%= link_to "#",class: "dropdown-toggle",data: { toggle: "dropdown",close_others: "true"},"aria-expanded"=>false do %>
            <%= image_tag("flag-uk.png", alt: " ", title: "english",class: "resize-img" ) %>
          <% end %>
          <ul class="dropdown-menu pull-right">
            <li class="active">
              <%= link_to locale: "en" do %>
                <%= image_tag("flag-uk.png", alt: " ", title: "english",class: "resize-img" ) %>
                <span>English</span>
              <% end %>
            </li>
            <li>
              <%= link_to locale: "vi" do %>
                <%= image_tag("flag-cn.png", alt: " ", title: "english",class: "resize-img" ) %>
                <span>Chinese</span>
              <% end %>
            </li>
            <li>
              <%= link_to locale: "jp" do %>
                <%= image_tag("flag-jp.png", alt: " ", title: "english",class: "resize-img" ) %>
                <span>Japan</span>
              <% end %>
            </li>
          </ul>
        </li>
        <% unless user_signed_in? %>
          <li><a href="#" data-toggle="modal" data-target="#myModal"><%= t(".signin") %></a></li>
        <% else %>
          <li class="btn-group">
            <button type="button" class="btn"><%= t".account" %></button>
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><% if current_user.admin? %>
                <%= link_to t(".admin_panel"), admin_root_path %>
              <% end %></li>
              <li><%= link_to t(".profile"), edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //header -->
<!-- bootstrap-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= t"title_login" %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <section>
        <div class="modal-body">
          <div class="w3_login_module">
            <div class="module form-module">
              <div class="toggle"><i class="fa fa-times fa-pencil"></i>
                <div class="tooltip"><%= t("register") %></div>
              </div>
              <div class="form">
                <h3><%= t("login") %></h3>
                <%= render  "layouts/login" %>
              </div>
              <div class="form">
                <h3><%= t("create_account") %></h3>
                <%= render  "layouts/registrator" %>
              </div>
              <div class="cta"><%= link_to t(".forgot"), "#" %></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- //banner-bottom -->
<div class="general_social_icons">
  <nav class="social">
    <ul>
      <li class="w3_facebook"><%= link_to "Facebook", user_facebook_omniauth_authorize_url %><i class="fa fa-facebook"></i></li>
      <li class="w3_g_plus"><%= link_to "Google", user_google_oauth2_omniauth_authorize_url %><i class="fa fa-google-plus"></i></li>
    </ul>
  </nav>
</div>
